/*.row {background-color: rgb(240, 245, 233)}/*

#search{
    display:block;
    text-align:center;
}

/* .pic1{
    margin: 3px;
    min-height: 213px;
    min-width: 213px;
    background-color: red;
    margin-top: 50%;
    
}
.pic2{
    margin: 3px;
    min-height: 213px;
    min-width: 213px;
    background-color: rgb(0, 255, 115);
    margin-top: 50%;
}
.pic3{
    margin: 3px;
    min-height: 213px;
    min-width: 213px;
    background-color: rgb(174, 0, 255);
    margin-top: 50%;
}
.pic4{
    margin: 3px;
    min-height: 213px;
    min-width: 213px;
    background-color: rgb(255, 0, 149);
    margin-top: 50%;
}
.pic5{
    margin: 3px;
    min-height: 213px;
    min-width: 213px;
    background-color: rgb(201, 182, 182);
    margin-top: 50%;

}
.pic6{
    margin: 3px;
    min-height: 213px;
    min-width: 213px;
    background-color: rgb(76, 8, 165);
    margin-top: 50%;
}
*/

#posts{
    margin-top: 35%;
    display: block;
    text-align: center;

} 

#name{
    text-align:center;
    font-size: 160%;
    margin-right: 4%;
    display: block;
}

.glyphicon.glyphicon-collapse-down{
    font-size: 30px;
    color:rgb(40, 99, 165);
}

#dog{
    border-radius: 50%;
    display: inline;
    vertical-align: top;
    margin-left: 20%;
}
