#search{
    display:block;
    text-align:center;
}

#posts{
    margin-top: 50px;
    display: block;
    text-align: center;

} 

#name{
    text-align:center;
    font-size: 200%;
    margin-right: 25.3%;
    display: block;
    

}

.glyphicon.glyphicon-collapse-down{
    font-size: 30px;
    color:rgb(40, 99, 165);
}

#dog{
    border-radius: 50%;
    display: inline;
    vertical-align: top;
    margin-left: 20%;
    float: left;
}

footer {
    padding-top: 20px;
}

#followers{
    font-size: 140%;
    margin-left: 40%;
}

#body{
    margin-left: 40%;
    margin-top: 3%;
}
#text{
    margin-left: 40%;
}
#link{
    margin-left: 40%;
}
#sections{
    margin-left: 34%;
    
}